.arrow_container {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -98px;
    left: 0px;
    cursor: pointer;

    @media screen and (min-width: 768px) { 
        top: -30px;
        rotate: (90deg);
        left: calc(100%);
    };
    
    @media screen and (min-width: 1440px) { 
        top: -20px;
    };
};
