.review_slider {
    width: 280px;
    z-index: 3;

    @media screen and (min-width: 390px) {
        width: 350px;
    };

    @media screen and (min-width: 768px) {
        width: 750px;
    };

    @media screen and (min-width: 1024px) {
        width: 984px;
    };

    @media screen and (min-width: 1090px) {
        width: 1050px;
    };

    @media screen and (min-width: 1440px) {
        width: 100%;
    };
};

.slider_review_card {
    width: 100%;
    overflow: hidden;
    max-width: 350px;
    min-height: 403px;
    // max-height: 465px;
    margin: 30px 0px 50px 0px !important;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.80);
    cursor: pointer;

    @media screen and (min-width: 1440px) {
        // min-height: 528px;
        // height: 528px;
        max-width: 433px !important;
        width: 433px !important;
        padding: 50px;
    };
};

.slider_review_user {
    margin: 0px 0px 10px 0px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start !important;

    @media screen and (min-width: 1440px) {
        margin: 0px 0px 20px 0px !important;
    };
};

.slider_review_name {
    margin-left: 10px;
    color: #00A3FF;
    font-family: "Exo2-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1440px) {
        font-size: 20px;
        margin-left: 20px;
    };
};

.slider_review_text {
    text-align: justify;
    color: #181818;
    font-family: "Exo2-Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    box-sizing: border-box;

    @media screen and (min-width: 1440px) {
        width: 333px;
        font-size: 16px;
        line-height: 173.707%;
    };
};


